 @charset "utf-8";

body,td,th { font-family: "Trebuchet MS"; font-size: 15px; color: #464646; }
#top { position: absolute; top: 20px; left: 20px; width: 350px; height: 500px; cursor: pointer;  z-index: 1; }
body { background-color: #121212; } 
#container { height:500px; background-color:#fff; float:left; padding:20px 0 20px 320px; position: absolute; z-index: 0; }
#container img { margin-right:13px; }
#container ul li { float:left; height:500px; margin-right:12px; }
#container ul { list-style-type:none; display:inline; padding:0; }
#center { height: 500px; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;}
